<div class="formularioRegistro">
  <h2>Crear Usuario</h2>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label>Apellido</label>
      <input type="text" formControlName="apellido" class="form-control">
    </div>
    <div class="form-group">
      <label>Edad</label>
      <input type="number" formControlName="edad" class="form-control">
    </div>
    <div class="form-group">
      <label>País</label>
      <select name="pais" id="pais" formControlName="pais" class="form-control">
        <option [ngValue]="item" *ngFor="let item of paises">{{item.nombre}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Departamento o Región</label>
      <select name="departamento" id="departamento" formControlName="departamento" class="form-control">
        <option [ngValue]="item" *ngFor="let item of departamentos">{{item.nombre}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="personaForm.invalid">Guardar</button>
  </form>
</div>

<div class="formularioRegistro">
  <h2>Personas Registradas</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Pais</th>
        <th>Departamento</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of persona">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.pais}}</td>
        <td>{{item.departamento.nombre}}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="editar(item)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>